@{
    ViewBag.Title = "Home Page";
}




<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class=" js-scroll-trigger" href="#page-top"></a>
        <img class="logo navbar-brand" src="~/img/VoxConnex Logo Green_White.png" />
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header class="masthead text-center text-light d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <hr>
            </div>
            <div class="col-lg-8 mx-auto">
                <div class="typewriter">
                    <h2>Solutions For Todays Small Business.</h2>
                </div>
                <p class="text-light mb-5">Offering taylored voice solutions to me the needs and budget of your business.</p>
                <a class="btn btn-outline-success btn-xl js-scroll-trigger" href="#about">Learn More</a>
            </div>
        </div>
    </div>
</header>

<section class="bg-vox" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading text-white">About VoxConnex</h2>
                <hr class="light my-4">
                <p class="text-faded mb-4">The VoxConnex product is our revolutionary voice paltform. With the advancments in interect connectivity we can leverage your internet connection to save you money and give you more features and functionality for your business. VoxConnex can be configured as a Hosted PBX, SIP trunks and a Virtual Phone System for the one man business. </p>
                <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container d-flex">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Service Plans</h2>
                <hr class=" bg-vox my-4">
                <p>The VoxConnex product is our revolutionary voice paltform. With the advancments in interect connectivity we leverage your connection to save you time.</p>
            </div>
        </div>
    </div>

    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">SIP Trunk</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$16.95 <small class="text-muted">/ mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>10 users included</li>
                    <li>2 GB of storage</li>
                    <li>Email support</li>
                    <li>Help center access</li>
                </ul>
                <button type="button" class="btn btn-success btn-block ">Contact us</button>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Std. PBX</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$19 <small class="text-muted">/ mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>20 users included</li>
                    <li>10 GB of storage</li>
                    <li>Priority email support</li>
                    <li>Help center access</li>
                </ul>
                <button type="button" class="btn btn-success btn-block">Contact us</button>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header bg-vox">
                <h4 class="my-0 font-weight-normal">Pro PBX</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>30 users included</li>
                    <li>15 GB of storage</li>
                    <li>Phone and email support</li>
                    <li>Help center access</li>
                </ul>
                <button type="button" class="btn btn-success btn-block">Contact us</button>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Virtual PBX</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$31 <small class="text-muted">/ mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>30 users included</li>
                    <li>15 GB of storage</li>
                    <li>Phone and email support</li>
                    <li>Help center access</li>
                </ul>
                <button type="button" class="btn btn-success btn-block">Contact us</button>
            </div>
        </div>
    </div>
</section>

<section class="bg-dark text-white">
    <div class="container text-center ">
        <h2 class="mb-4">Get your custom voice quote today!</h2>
        @*<button class="btn btn-light btn-xl sr-button" onclick="myFunction()">
                GET QUOTE!
            </button>*@
        <button type="button" class="btn btn-light btn-xl sr-button" data-toggle="modal" data-target=".bd-example-modal-lg" data-whatever="">GET QUOTE!</button>
    </div>
    @*Start Modal*@
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">

                    <div class="row">
                        <div class="col-xs-12 col-xl-12 form-box">
                            <form role="form" action="" method="post" class="f1">

                                <h3>Register To Our App</h3>
                                <p>Fill in the form to get instant access</p>
                                <div class="f1-steps">
                                    <div class="f1-progress">
                                        <div class="f1-progress-line" data-now-value="16.66" data-number-of-steps="3" style="width: 16.66%;"></div>
                                    </div>
                                    <div class="f1-step active">
                                        <div class="f1-step-icon"><i class="fa fa-user"></i></div>
                                        <p>about</p>
                                    </div>
                                    <div class="f1-step">
                                        <div class="f1-step-icon"><i class="fa fa-key"></i></div>
                                        <p>account</p>
                                    </div>
                                    <div class="f1-step">
                                        <div class="f1-step-icon"><i class="fa fa-twitter"></i></div>
                                        <p>social</p>
                                    </div>
                                </div>

                                <fieldset>
                                    <h4>Tell us who you are:</h4>
                                    <div class="form-group">
                                        <label class="sr-only" for="f1-first-name">First name</label>
                                        <input type="text" name="f1-first-name" placeholder="First name..." class="f1-first-name form-control" id="f1-first-name">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="f1-last-name">Last name</label>
                                        <input type="text" name="f1-last-name" placeholder="Last name..." class="f1-last-name form-control" id="f1-last-name">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="f1-about-yourself">About yourself</label>
                                        <textarea name="f1-about-yourself" placeholder="About yourself..."
                                                  class="f1-about-yourself form-control" id="f1-about-yourself"></textarea>
                                    </div>
                                    <div class="f1-buttons modal-footer">
                                        <button type="button" class="btn btn-next">Next</button>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <h4>Set up your account:</h4>
                                    <div class="form-group">
                                        <label class="sr-only" for="f1-email">Email</label>
                                        <input type="text" name="f1-email" placeholder="Email..." class="f1-email form-control" id="f1-email">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="f1-password">Password</label>
                                        <input type="password" name="f1-password" placeholder="Password..." class="f1-password form-control" id="f1-password">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="f1-repeat-password">Repeat password</label>
                                        <input type="password" name="f1-repeat-password" placeholder="Repeat password..."
                                               class="f1-repeat-password form-control" id="f1-repeat-password">
                                    </div>
                                    <div class="f1-buttons modal-footer">
                                        <button type="button" class="btn btn-previous">Previous</button>
                                        <button type="button" class="btn btn-next">Next</button>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <h4>Social media profiles:</h4>
                                    <div class="form-group">
                                        <label class="sr-only" for="f1-facebook">Facebook</label>
                                        <input type="text" name="f1-facebook" placeholder="Facebook..." class="f1-facebook form-control" id="f1-facebook">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="f1-twitter">Twitter</label>
                                        <input type="text" name="f1-twitter" placeholder="Twitter..." class="f1-twitter form-control" id="f1-twitter">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="f1-google-plus">Google plus</label>
                                        <input type="text" name="f1-google-plus" placeholder="Google plus..." class="f1-google-plus form-control" id="f1-google-plus">
                                    </div>
                                    <div class="f1-buttons modal-footer">
                                        <button type="button" class="btn btn-previous">Previous</button>
                                        <button type="submit" class="btn btn-submit">Submit</button>
                                    </div>
                                </fieldset>

                            </form>
                        </div>
                    </div>
                </div>

                @*<div class="modal-footer f1-buttons">

                    </div>*@
            </div>
        </div>
    </div>

    @*End Modal*@
</section>

<section class="get-quote" id="quote-creator" style="display:none">
    <iframe src="http://localhost:50375/QuoteQuestionnaires/Create" style="width:100%; height: 25rem;"></iframe>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr>
                <p class="mb-5">Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center">
                <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
                <p>210-233-9880</p>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
                <p>
                    <a href="mailto:your-office@visolutions.net">info@visolutions.net</a>
                </p>
            </div>
        </div>
    </div>
</section>

<script>
    function myFunction() {
        var x = document.getElementById("quote-creator");
        if (x.style.display === "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
    }
</script>
