body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
}

strong {
    font-weight: 500;
}

a, a:hover, a:focus {
    color: #289d40;
    text-decoration: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

h1, h2 {
    margin-top: 10px;
    font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 {
    font-size: 26px;
    font-weight: 700;
    color: #555;
    line-height: 30px;
}

h4 {
    font-size: 18px;
    font-weight: 300;
    color: #555;
    line-height: 26px;
}

img {
    max-width: 100%;
}

::-moz-selection {
    background: #f35b3f;
    color: #fff;
    text-shadow: none;
}
<<<<<<< Updated upstream

::selection {
    background: #f35b3f;
    color: #fff;
    text-shadow: none;
}


/* FOOTER CONTENT */


.padding-top-bottom {
    padding-top: 1.0rem;
    padding-bottom: 1.0rem;
}

.card-fixed-width {
    min-width: 250px;
    max-width: 250px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 15px;
}

.portnumber {
    visibility:hidden;
}

.not-require:optional {
    background-color:lightgrey;
}
.push-bottom {
    bottom: 30px;
}
   .push-left {
        left: 76px;
    }

  .push-right {
        right: 6rem !important;
    }

    .switch input {
        display: none;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 13px;
        width: 13px;
        left: 2px;
        bottom: 1px;
        background-color: white;
        transition: .4s;
    }

/* include generated hidden field here */
input[type="checkbox"]:checked + input[type="hidden"] + .slider,
input[type="checkbox"]:checked + .slider {
    background-color: #53b44a;
}

/* include generated hidden field here */
input[type="checkbox"]:focus + input[type="hidden"] + .slider,
input[type="checkbox"]:focus + .slider {
    box-shadow: 0 0 1px #53b44a;
}

/* include generated hidden field here */
input[type="checkbox"]:checked + input[type="hidden"] + .slider:before,
input[type="checkbox"]:checked + .slider:before {
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

.btn-roles {
    background-color: steelblue;
    text-decoration: none
}

    .btn-roles:active {
        background-color: #53b44a;
        text-decoration: none;
    }


    .btn-roles:focus {
        background-color: #53b44a;
        text-decoration: none;
    }

::selection {
    background: #289d40;
    color: #fff;
    text-shadow: none;
}

    .btn-roles:visited {
        background-color: darkblue;
        text-decoration: none;
    }


    .btn-roles:hover {
        background-color: green;
        text-decoration: none
    }

/***** Top menu *****/

.navbar {
    padding-top: 10px;
    background: #333;
    background: rgba(51, 51, 51, 0.3);
    border: 0;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

    .navbar.navbar-no-bg {
        background: none;
    }

ul.navbar-nav {
    font-size: 16px;
    color: #fff;
}

.navbar-inverse ul.navbar-nav li {
    padding-top: 8px;
    padding-bottom: 8px;
}

    .navbar-inverse ul.navbar-nav li .li-text {
        opacity: 0.8;
    }

    .navbar-inverse ul.navbar-nav li a {
        display: inline;
        padding: 0;
        color: #fff;
    }

        .navbar-inverse ul.navbar-nav li a:hover {
            color: #fff;
            opacity: 1;
            border-bottom: 1px dotted #fff;
        }

        .navbar-inverse ul.navbar-nav li a:focus {
            color: #fff;
            outline: 0;
            opacity: 1;
            border-bottom: 1px dotted #fff;
        }

    .navbar-inverse ul.navbar-nav li .li-social a {
        margin: 0 5px;
        font-size: 28px;
        vertical-align: middle;
    }

        .navbar-inverse ul.navbar-nav li .li-social a:hover,
        .navbar-inverse ul.navbar-nav li .li-social a:focus {
            border: 0;
            color: #f35b3f;
        }

.navbar-brand {
    width: 350px;
    background: url(../img/logo.png) left center no-repeat;
    text-indent: -99999px;
}


/***** Top content *****/

.top-content {
    padding: 40px 0 170px 0;
}

    .top-content .text {
        color: #fff;
    }

        .top-content .text h1 {
            color: #fff;
        }

    .top-content .description {
        margin: 20px 0 10px 0;
    }

        .top-content .description p {
            opacity: 0.8;
        }

        .top-content .description a {
            color: #fff;
        }

            .top-content .description a:hover,
            .top-content .description a:focus {
                border-bottom: 1px dotted #fff;
            }

.form-box {
    padding-top: 40px;
}

.f1 {
    padding: 25px;
    background: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

    .f1 h3 {
        margin-top: 0;
        margin-bottom: 5px;
        text-transform: uppercase;
    }

.f1-steps {
    overflow: hidden;
    position: relative;
    margin-top: 20px;
}

.f1-progress {
    position: absolute;
    top: 24px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #ddd;
}

.f1-progress-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    background: darkgreen;
}

.f1-step {
    position: relative;
    float: left;
    width: 33.333333%;
    padding: 0 5px;
    color: #fff;
}

.f1-step-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top: 4px;
    font-size: 16px;
    background-color: #1db954;
    color: white;
    line-height: 40px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.f1-step.activated .f1-step-icon {
    background: #289d40;
    border: 1px solid darkgreen;
    color: white;
    line-height: 38px;
}

.f1-step.active .f1-step-icon {
    width: 48px;
    height: 48px;
    margin-top: 0;
    background-color: #1db954;
    color: #fff;
    font-size: 22px;
    line-height: 48px;
}

.f1-step p {
    color: #1db954;
}

.f1-step.activated p {
    color: darkgreen;
}

.f1-step.active p {
    color: #1db954;
}

.f1 fieldset {
    display: none;
    text-align: left;
}

.f1-buttons {
    text-align: right;
}

.f1-btn {
    background-color: #1db954 !important;
    color: #fff;
}



.f1 .input-error {
    border-color: #f35b3f;
    color: green;
}

.text-green {
    color: #1db954;
}

.f1-buttons {
    text-align: right;
}

.f1 .input-error {
    border-color: #f35b3f;
    color: green;
}

/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (max-width: 767px) {

    .navbar {
        padding-top: 0;
    }

        .navbar.navbar-no-bg {
            background: #333;
            background: rgba(51, 51, 51, 0.9);
        }

    .navbar-brand {
        height: 60px;
        margin-left: 15px;
    }

    .navbar-collapse {
        border: 0;
    }

    .navbar-toggle {
        margin-top: 12px;
    }

    .top-content {
        padding: 40px 0 110px 0;
    }
}


@media (max-width: 415px) {


    h1, h2 {
        font-size: 32px;
    }

    .f1 {
        padding-bottom: 20px;
    }

    .f1-buttons button {
        margin-bottom: 5px;
    }
}


/* Retina-ize images/icons */

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {

    /* logo */
    .navbar-brand {
        background-image: url(../img/logo@2x.png) !important;
        background-repeat: no-repeat !important;
        background-size: 162px 36px !important;
    }
}
